include LICENSE 
include README.rst 
include requirements.txt

recursive-include src/_cffi_src *.py *.c *.h
recursive-include tests *.py

prune docs/_build
recursive-exclude scripts *
exclude .coveragerc tox.ini requirements.txt
